<div class="container">
  <div class="row">
    <div class="col-md-12">Name: {{name}}</div>
    <div class="col-md-12">Street: {{street}}</div>
    <div class="col-md-12">City: {{city}}</div>
  </div>
</div>
